<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

<main>
  <h2>Top Media</h2>
  <p>Look at all these movies, albums and other fun stuff!  We've got <%= @num_of_works %> of 'em! </p>
</main>

</body>

</html>