<h2><%= @work.title %></h2>
Created by: <%= @work.creator %><br>
Published: <%= @work.publication_year %><br>

<%= link_to "Back to media ranks", root_path %>  EDIT  UPVOTE  DELETE <br>

X Votes for this movie <br>
Table of Votes goes here